<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<body>
    <div class="container">
        <div class="project">
         <h5>Recently Added Projects</h5><hr>
        </div>
        <div id="aboutus">
            <div class="card">
                <ul *ngFor="let project of project">
                    <img src="{{image_url+project.project_image}}" />      
                    <!-- <li>{{project.user}}</li> -->
                    <li>{{project.name}}</li>
                    <li>{{project.description}}</li>
                    <li>{{project.url}}</li>
                    
                </ul>
            </div>
            
            
        </div>
        <!-- <div class="row" *ngFor="let project of project">
              <div class="col-md-4" >
                <div class="card"  style="margin-bottom: 1vw;">
                    <img src="{{image_url+project.project_image}}" />
                  <div class="card-body">
                    <li>{{project.name}}</li>
                    <li>{{project.description}}</li>
                    <li>{{project.url}}</li>
                   
                  </div>
                </div>
              </div>
            
            </div> -->
    </div>
</body>
