
/* .....................navbar.................................... */
.logo img{
    width: 12vw;
    margin-left: -10vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5vw;
}
.block a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}
.block{
    margin-top: 1vw;
    font-size: 1.2vw;
}
/* ...............................media queries........................ */
@media screen and (max-width: 450px) {
    .logo img{
        width: 15vw;
        margin-left: -10vw;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
    .block a{
        text-decoration: none;
        color: black;
        padding: 2vw;
    
    }
    .block{
        margin-top: 1vw;
        font-size: 2.3vw;
    }
}
/* ....................container..................... */
.card-image img{
  width: 25vw;
  height: 17vw;
  border-radius: 0.2vw;
}
  /* ...............................................about-us................................................................ */

  #aboutus .story .description {
    width: 55%;
    padding-left: 10%;
  }
  #aboutus .story .img img {
    width: 100%;
    height: 20vw;
    transition: 0.3s;
    position: relative;
    transform: rotate(-10deg);
    border: 0.1vw solid #494949;
  }
 .story .img {
    position: relative;
    width: 45%;
    height: 20vw;
    border: 0.1vw solid #494949;
    transform: rotate(10deg);
    backdrop-filter: blur(0.1vw);
  }
  #aboutus{
    padding: 0 10%;
    width: 100%;
    background-color: 
    #fafafa;
  }
  
  #aboutus .story {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 0;
  }
  
  #aboutus .story .description span {
    display: flex;
    align-items: center;
    color: #252B42;
    font-size: 2vw;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: 'lobster', serif;
  }
  
  #aboutus .story .description span div {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #252B42;
    margin-right: 2%;
  }
  #aboutus .story .description p {
    color: #252B42;
    font-size: 1.1vw;
    line-height: 1.8vw;
  }
  .card1{
    display: flex;
    margin-top: 2vw;
    justify-content: space-around;
  }
  .card-info{
    width: 80%;
    text-align: center;
    background-color: ;
    margin-left: 2vw;
    padding-top: -1vw;
  }
  /* ..............................................mediaqueries.......................................................... */
  @media  screen and (max-width:500px){
  
  #aboutus .story .description {
    width: 55%;
    padding-left: 10%;
  }
  #aboutus .story .img img {
    width: 100%;
    transition: 0.3s;
    position: relative;
    transform: rotate(-10deg);
    border: 0.1vw solid #494949;
  }
  #aboutus .story .img {
    position: relative;
    width: 45%;
    border: 0.1vw solid #494949;
    transform: rotate(10deg);
    backdrop-filter: blur(0.1vw);
  }
  #aboutus{
    padding: 0 10%;
  }
  
  #aboutus .story {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 0;
  }
  
  #aboutus .story .description span {
    display: flex;
    align-items: center;
    color: #252B42;
    font-size: 2vw;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: 'lobster', serif;
  }
  
  #aboutus .story .description span div {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #252B42;
    margin-right: 2%;
  }
  #aboutus .story .description p {
    color: #252B42;
    font-size: 1.1vw;
    line-height: 1.8vw;
  }
  }
  @media  screen and (max-width:350px){
  
    #aboutus .story .description {
      width: 55%;
      padding-left: 10%;
    }
    #aboutus .story .img img {
      width: 100%;
      transition: 0.3s;
      position: relative;
      transform: rotate(-10deg);
      border: 0.1vw solid #494949;
    }
    #aboutus .story .img {
      position: relative;
      width: 45%;
      border: 0.1vw solid #494949;
      transform: rotate(10deg);
      backdrop-filter: blur(0.1vw);
    }
    #aboutus{
      padding: 0 10%;
    }
    
    #aboutus .story {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10% 0;
    }
    
    #aboutus .story .description span {
      display: flex;
      align-items: center;
      color: #252B42;
      font-size: 2vw;
      margin-bottom: 2%;
      font-weight: bold;
      font-family: 'lobster', serif;
    }
    
    #aboutus .story .description span div {
      width: 0.8vw;
      height: 0.8vw;
      border-radius: 50%;
      background-color: #252B42;
      margin-right: 2%;
    }
    #aboutus .story .description p {
      color: #252B42;
      font-size: 1.1vw;
      line-height: 1.8vw;
    }
    }