<!-- ..........navbar..................... -->
<div class="nav">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo">
    </div>
    <div class="block">
        <a href="">Home</a>
        <a href="https://moringaschool.com/about-us/">About us</a>
        <a href="">Projects</a>
        <a href="">Add Project</a>
        
        <a id="log" routerLink="/login">Login</a>

    </div>
</div>
<body>
    <div class="container">
        <div class="project" id="one">
         <h5>Featured Project</h5><hr>
        </div>
     <div class="cards">
        <div *ngFor="let project of project" class="card">
            <img src="{{image_url+project.project_image}}" />
            <h6><strong>Project Name:</strong>{{project.name}}</h6>
            <p><strong>Description:</strong>{{project.description}}</p>
            <p><strong>Created_by:</strong>{{project.user}}</p> 
            <p><strong>Date_posted:</strong>{{project.date_posted}}</p>
            <a class="btn btn-sm btn-light" href="{{project.url}}">View</a>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="project">
         <h5>Recently Added Projects</h5><hr>
        </div>
     <div class="cards">
        <div *ngFor="let project of project" class="card">
            <img src="{{image_url+project.project_image}}" />
            <h6><strong>Project Name:</strong>{{project.name}}</h6>
            <p><strong>Description:</strong>{{project.description}}</p>
            <p><strong>Date_posted:</strong>{{project.date_posted}}</p>
            <a class="btn btn-sm btn-light" href="">View</a>
        </div>
       
        </div>
    </div>
   
</body>
 

