<app-navbar></app-navbar>
<section>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-0"></div>
          <div class=" col-lg-6 col-md-6 col-sm-12">
              <div class="login-details">
                
                  <form #updateProfileForm="ngForm" (submit)="updateProfile(updateProfileForm.value)" >
                    <h3 class="text-center h-font-semibold">Update Profile</h3><br>
                    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="first_name">First Name</label>
                      <input ngModel type="text" name="first_name" id="first_name" class="form-control form-control-lg" />                  
                    
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="last_name">Last Name</label>
                      <input ngModel type="text" name="last_name" id="last_name" class="form-control form-control-lg" />                  
                    
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="bio">Bio</label>
                      <input ngModel type="text" name="bio" id="bio" class="form-control form-control-lg" />                  
                    
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="image">Profile Image</label>
                      <input ngModel type="file" name="image" id="image" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="phone_number">Phone Number</label>
                      <input ngModel type="number" name="phone_number" id="phone_number" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="twitterLink">Twitter Link</label>
                      <input ngModel type="link" name="twitterLink" id="twitterLink" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="facebookLink">Facebook Link</label>
                      <input ngModel type="link" name="facebookLink" id="facebookLink" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="githubLink">Github Link</label>
                      <input ngModel type="link" name="githubLink" id="githubLink" class="form-control form-control-lg" />
                    </div>
                                             
                    <div class="pt-1 text-center">
                      <button  type="submit"style="color:white;background-color:#fa521c;
                      ;" class="btn">Update Profile</button>
                    </div>
  
                    
                  </form>
              </div>
          </div>
          <div class=" col-lg-3 col-md-3 col-sm-0"></div>
      </div>
  </div>
  


</section>



