<!-- ..........navbar..................... -->
<div class="nav">
  <div class="logo">
      <img src="../../assets/images/logo.png" alt="logo">
  </div>
  
  <div class="block" *ngIf="value">
    <a href="">Home</a>
    <a href="https://moringaschool.com/about-us/">About us</a>
    <a routerLink="/project">Projects</a>

    <ng-container *ngIf="is_loggedIn">
      <a id="log" routerLink="/login">student-dashboard</a>
      <a routerLink="/admin-dashboard">admin-dashboard</a>
      <a id="log" routerLink="/">Logout</a>
    </ng-container>
    
    <a id="log" routerLink="/login">Login</a>
  </div>
  
  <!-- <ng-template> -->
    <!-- <div class="block">
      <a href="">Home</a>
      <a href="https://moringaschool.com/about-us/">About us</a>
      <a id="log" routerLink="/login">Login</a>


    </div> -->
  <!-- </ng-template> -->

     

  </div>
  

