<app-navbar></app-navbar>

<body>
    
    <div id="aboutus">
        <div class="story"*ngFor="let project of project">
          <div class="img">
            <img src="{{image_url+project.project_image}}" />
        </div>
               
            <div class="part1">
         <div class="description">
                    <span>{{project.name}}</span>
                    <p>{{project.description}}</p>
                
                    <div class="div">
                        <p><span class="iconify" data-icon="bi:person-circle"></span></p>
                        <p> {{project.user}}</p>
                    </div>
                    
                    <a class="btn "  style="width: 10vw;" href="{{project.url}}">View</a>
                    
                </div>
                <div class="member" >
                    <p class="title">Members</p>
                    <div class="div">
                        <p><span class="iconify" data-icon="bi:person-circle"></span></p>
                        <p>{{project.user}}</p>
                    </div>
                  </div>
            
                </div>
           
            </div>
            
            
        </div>
 
    <!-- </div> -->
    
   <!-- ....................................... -->
<div class="footer">
    <div id="logo" class="logo">
      <img src="../../assets/images/logo-white.png" alt="">
    </div>
    <div class="links">
      <p>Ngong Lane, Ngong Lane Plaza,1st floor,Nairobi Kenya </p>
      <div>
        <p><span class="iconify" data-icon="bxs:phone-call" style="color: #fa521c;"></span></p>
        <p>  +254 712 293 878 (Admissions/General Enquiries) </p>
      </div>
      <div>
        <p><span class="iconify" data-icon="bxs:phone-call" style="color: #fa521c;"></span></p>
        <p>  +254 741 493 565 (Data Science) </p>
      </div>
      <div>
        <p><span class="iconify" data-icon="bxs:phone-call" style="color: #fa521c;"></span></p>
        <p> +254 712 293 878 (Whatsapp) </p>
      </div>
      <div>
        <p><span class="iconify" data-icon="carbon:email" style="color: #fa521c;"></span></p>
        <p>  contact@moringaschool.com </p>
      </div>
      <div>
        <p><span class="iconify" data-icon="carbon:email" style="color: #fa521c;"></span></p>
        <p>  admissions@moringaschool.com  </p>
      </div>
      <div>
        <p><span class="iconify" data-icon="carbon:email" style="color: #fa521c;"></span></p>
        <p>  P.O Box 28860-00100, Nairobi </p>
      </div>
       
       <div class="media">
          <a href=""><span class="iconify" data-icon="cib:facebook" style="color: white;"></span></a>
          <a href=""><span class="iconify" data-icon="entypo-social:linkedin-with-circle" style="color: white;"></span></a>
          <a href=""><span class="iconify" data-icon="entypo-social:twitter" style="color: white;"></span></a>
          <a href=""><span class="iconify" data-icon="ant-design:youtube-filled" style="color: white;"></span></a>
       </div>
       
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.790610041559!2d36.78241801486719!3d-1.3004861990514738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a6bf7445dc1%3A0x940b62a3c8efde4c!2sMoringa%20School!5e0!3m2!1sen!2ske!4v1657118011023!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
       
       
     
 
   
</body>
 

